<%- include("partials/header") %> 

<div class="ui main text container">
    <% for (var i = posts.length - 1; i >=0; i--) {%>
        <h1><%= posts[i].title %></h1>
        <img src="<%=posts[i].image%>">
        <p>Date Created: <%= posts[i].created.toDateString() %></p>
        <p><%= posts[i].body.substring(0, 100) %></p>
        <a href="/blogs/<%=posts[i]._id%>">Read More</a>
    <% } %> 
</div>

<%- include("partials/footer") %> 